body {
  font-family: "Poppins", sans-serif;
  background-color: #010101;
}

/* navbar */
.navbar {
  background-color: #010101;
  font-family: "Lora", serif;
}

#navbarNav .navbar-nav .nav-item {
  margin-left: 24px;
  color: #ffffff;
}

.navbar .navbar-nav .nav-item a:hover {
  color: #ffd700;
}

/* Header */
header {
  padding: 280px 0 165px;
  margin-top: -150px;
  color: #fff;
  background-image: url("../assets/image/header3.jpg");
  background-size: cover;
  min-height: 65vh;
  position: relative;
}

.heading-content {
  padding-top: 90px;
}

.heading-content h1 {
  color: #ffd700;
  font-family: "Lora", serif;
  font-weight: 720;
}

.heading-content p {
  color: #fff;
  font-weight: 200;
}

.btn-got {
  background-color: #fa0000;
  padding: 3px 30px;
  border: 0 none;
  border-radius: 50px;
}

/* Section Popular */
.section-popular {
  background-color: #010101;
  padding-top: 50px;
}

.section-popular-heading {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
}

.section-popular-heading h2 {
  color: #ffd700;
  font-family: "Lora", serif;
  font-weight: 500;
}

section .section-popular-content .card .card-title {
  font-weight: 700;
}

.btn-popular {
  background-color: #fa0000;
  padding: 3px 30px;
  border: 0 none;
  border-radius: 50px;
  margin-top: 45px;
  margin-bottom: 70px;
}

/* Section Content */
.xinona-item {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #ffffff;
}

.section-content-xinona .xinona-content .btn-show {
  background-color: #fa0000;
  padding: 3px 30px;
  border: 0 none;
  border-radius: 50px;
}

.section-content-xinona .xinona-content .btn-show:hover {
  border: 1px solid #fa0000;
  background: transparent;
  color: #010101;
}

.section-content-xinona h1 {
  font-weight: 700;
}

/* Section Order */
.section-order-xinona {
  background-color: #010101;
  color: #fff;
  background-size: contain;
  padding: 20px 0;
  margin-top: -23.5px;
}

.section-order-xinona .section-item-order {
  padding-top: 80px;
}
.section-order-xinona h4 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #ffd700;
}
.section-order-xinona p {
  font-weight: 200;
}

.icon-order {
  margin-bottom: 30px;
}

/* Section Networks */
.section-networks {
  background-image: url("../assets/image/img4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: #fff;
}

.section-networks h2 {
  font-family: "Lora", serif;
  font-weight: 500;
  color: #ffd700;
}
.section-networks p {
  font-weight: 100;
}

.section-networks .img-partners-gofood {
  padding-top: 15px;
}

/* Section About */
.section-about-xinona {
  background-color: #010101;
  background-size: contain;
  color: #fff;
  padding-bottom: 5rem;
}

.section-about-xinona h2 {
  color: #ffd700;
  font-family: "Lora", serif;
  font-weight: 500;
  padding-top: 120px;
  padding-bottom: 30px;
}

.section-about-xinona .cart-about {
  background-image: url("../assets/image/bg_kertas.jpg");
  background-size: contain;
  color: #010101;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.section-about-xinona .text-about .kutip {
  font-weight: 700;
  font-size: xx-large;
}

.section-about-xinona .cart-about .jabatan p {
  font-weight: 200;
  font-style: italic;
  margin-top: -20px;
}

.section-about-xinona .cart-about .medsos a {
  color: #010101;
  text-decoration: none;
}

/* Section Testimonial */
.section-testimonial {
  background-color: #010101;
  background-size: contain;
  color: #fff;
  padding-bottom: 80px;
  padding-top: 40px;
}

.section-testimonial .testimonial-heading h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #ffd700;
  padding-top: 50px;
}

.section-testimonial .testimonial-heading p {
  padding-bottom: 20px;
}

.section-testimonial .carousel-inner {
  background-color: #f53535;
  color: #fff;
}

.section-testimonial .carousel-inner {
  padding: 0 100px;
}

.section-testimonial .carousel-inner .carousel-item .icon_image {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-testimonial .carousel-inner .carousel-item h4 {
  font-weight: 500;
}

/* Section Contact */
.section-contact {
  background-color: #010101;
  background-size: contain;
  color: #fff;
  padding-bottom: 40px;
}

.section-contact .address-text {
  padding-top: 100px;
}

.section-contact h4 {
  font-family: "Lora", serif;
  font-weight: 500;
}

.section-contact h2 {
  font-weight: 700;
  color: #ffd700;
}
.section-contact ul li,
p {
  font-weight: 200;
}

.section-contact .contact-list a {
  color: #fff;
  text-decoration: none;
}

.section-contact .btn-contact {
  background-color: #fa0000;
  padding: 3px 30px;
  border: 0 none;
  border-radius: 50px;
}

.btn:hover {
  border: 1px solid #fa0000;
  background: transparent;
}

/* Page Popular */
.section-menu-heading {
  margin-top: -70px;
  background-color: #fa0000;
  height: 200px;
}

.breadcrumb {
  background: transparent;
  padding-top: 70px;
  margin-bottom: 30px;
}

.breadcrumb .breadcrumb-item {
  color: #ffffff;
}

.breadcrumb .breadcrumb-item a {
  color: #ffffff;
}

.breadcrumb .breadcrumb-item a:hover {
  color: #010101;
}

.breadcrumb-item.active {
  font-weight: bold;
}

.section-menu {
  background-color: #010101;
}

.section-menu .drinks-menu .card {
  margin-top: -60px;
  margin-bottom: 80px;
}

/* Footer */
footer {
  background-color: #fa0000;
  color: #fff;
}

.img-content {
  background-color: #010101;
}
